@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rock+Salt&display=swap');
@import url('header.css');
@import url('home.css');
@import url('info.css');
@import url('como-usar.css');
@import url('sobre.css');
@import url('lista-stickers.css');


* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

:root{
    --color-primary: #1b1b1b;
    --color-secundary: #fcc26b;
    --color-primary-500: #514B4B;
}

body{
}